services:
  backend:
    build:
      context: ./
    platform: linux/amd64
    ports:
      - "5002:5002"
    environment:
      - PORT=5002
      - DATABASE_URL=postgresql://postgres:test123@db:5432/mydb
    depends_on:
      - db
    volumes:
      - ./:/app
      - uploads_data:/app/uploads
  db:
    image: postgres:15-alpine
    platform: linux/amd64
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  uploads_data:
